<%= link_to 'View My Items', dashboard_items_path %>

<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Active: <%= @user.active %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip Code: <%= @user.zip %></p>

<% if current_admin?  %>
  <%= link_to "Downgrade to User", admin_merchant_edit_path({id: @user.id, request: :downgrade_to_user}), :method => :patch, class:"btn btn-primary" %>
<% end %>

<% @orders.each do |order| %>
<section id="order-<%= order.id %>">
  <p>Order id: <%= link_to "#{order.id}", dashboard_order_path(order.id) %>
  <p>Date created: <%= order.date_made %></p>
  <p>Total quantity: <%= order.item_count %></p>
  <p>Total price: <%= order.grand_total %></p>
</section>
<% end %>
