<h2><%= @user.name %>'s Orders</h2>

<% if @orders.count > 0 %>
  <% @orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <%= link_to "Order ID: #{order.id}", order %>
      <p>Date Made: <%= order.date_made %></p>
      <p>Last Updated: <%= order.last_updated %></p>
      <p>Current Status: <%= order.status.titlecase %></p>
      <p>Number of Items: <%= order.item_count %></p>
      <p>Grand Total: $<%= order.grand_total %></p>
    </section>
  <% end %>
<% else %>
  <p>You haven't made any orders yet!</p>
<% end %>
