<h2>Order <%= @order.id %></h2>

<p>Date Made: <%= @order.date_made %></p>
<p>Last Updated: <%= @order.last_updated %></p>
<p>Current Status: <%= @order.status.capitalize %></p>

<% @order_items.each do |order_item| %>
  <section id="order-item-<%= order_item.id %>">
    <% item = order_item.item %>
    <p><%= link_to "#{item.name}", item_path(item) %></p>
    <p><%= item.description %></p>
    <img src="<%= item.image %>" alt="<%= item.name %> Image">
    <p>Quantity: <%= order_item.quantity %></p>
    <p>Subtotal: <%= number_to_currency(order_item.sub_total, unit: "$") %></p>
  </section>
<% end %>

<p>Number of Items: <%= @order.item_count %></p>
<p>Grand Total: <%= number_to_currency(@order.grand_total, unit: "$") %></p>

<% if @order.pending?%>
  <%= button_to "Cancel Order", profile_order_path(@order), method: "delete" %>
<% end %>
