<h1>Merchants</h1>

<h4>Top 3 Merchants</h4>
<% @top_merchants.each do |merchant| %>
  <section class ='most-sold'>
    <p><%= merchant.name %></p>
    <p><%= number_to_currency(merchant.revenue) %></p>
  </section>
<% end %>
<h4>Fastest Merchants</h4>
<% @fastest_merchants.each do |merchant| %>
  <section class='fastest'>
    <p><%= merchant.name %></p>
    <p><%= merchant.fulfillment_time[0..4] %></p>
  </section>
<% end %>
<h4>Slowest Merchants</h4>
<% @slowest_merchants.each do |merchant| %>
  <section class='slowest'>
    <p><%= merchant.name %></p>
    <p><%= merchant.fulfillment_time[0..4] %></p>
  </section>
<% end %>
<section class="card-group">
  <% @merchants.each do |merchant| %>
    <section id="merchant-<%= merchant.id %>">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
          <%= merchant.name %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">Location: <%= merchant.city %>, <%= merchant.state %></li>
          <li class="list-group-item text-center">Joined: <%= merchant.created_at.strftime("%B %d, %Y") %></li>
        </ul>
      </div>
    </section>
  <% end %>
</section>
