<h1>Items</h1>
<div class='card-group'>
  <section id='top-stats' class='stat-cards'>
    <div class="card" style="width: 30rem;">
      <div class="card-header text-center">
        <strong>Best Sellers</strong>
      </div>
      <ul class="list-group list-group-flush">
        <% @most_5_bought_items.each do |item| %>
          <li class="list-group-item text-center"><strong><%= item.name %></strong>: <%= item.order_quantity %> Purchased</li>
        <% end %>
      </ul>
    </div>
  </section>
  <section id='bottom-stats' class='stat-cards'>
    <div class="card" style="width: 30rem;">
      <div class="card-header text-center">
        <strong>Worst Sellers</strong>
      </div>
      <ul class="list-group list-group-flush">
        <% @least_5_bought_items.each do |item| %>
          <li class="list-group-item text-center"><strong><%= item.name %></strong>: <%= item.order_quantity %> Purchased</li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
<div class="card-group">
  <% @items.each do |item| %>
    <section id='item-<%= item.id %>'>
      <div class="card" style="width: 18rem;">
        <a class='img-link' href="<%= item_path(item) %>">
          <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Seller: <%= item.user.name %></li>
          <li class="list-group-item">Inventory: <%= item.inventory %></li>
          <li class="list-group-item">Price: $<%= item.price %><br></li>
        </ul>
        <button class="btn btn-primary"><%= button_to "Add To Cart", carts_path(item_id: item.id) %></button>
      </div>
    </section>
  <% end %>
</div>
