<h2>Update an Address</h2>
<% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
<% end %>

<%= form_for [@user, @address], url: update_non_home_address_path(@address.id) do |f| %>

  <%= f.label :nickname %>
  <%= f.text_field :nickname %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= submit_tag 'Update Address' %>

<% end %>
