<h2>Edit <%= @user.name %>'s Profile</h2>

<% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
<% end %>

<%= form_for @user, url: profile_edit_path do |f| %>

<p><%= f.label :name %></p>
<%= f.text_field :name %>

<p><%= f.label :email %></p>
<%= f.text_field :email %>

<p><%= f.label :password %></p>
<%= f.password_field :password %>

<p><%= f.label :confirm_password, "Confirm Password" %></p>
<%= f.password_field :confirm_password %>

<%= f.submit "Edit User" %>

<% end %>
