

<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Active: <%= @user.active %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip Code: <%= @user.zip %></p>

<%= link_to "Edit Profile", profile_edit_path %>

<% if @user.orders.length > 0 %>
  <%= link_to "My Orders", profile_orders_path %>
<% end %>
