

<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Active: <%= @user.active %></p>

<h2>Addresses</h2>

<br>
<div class="add-address">
  <%= link_to 'Add address', new_address_path %>
</div>
<br>
  <h3>Your Addresses</h3>
  <% @user.addresses.each do |address| %>
  <% if !address.id.nil? %>
    <section id="address-<%= address.id %>">
      <p>Nickname: <%= address.nickname %></p>
      <p>Street: <%= address.street %></p>
      <p>City: <%= address.city %></p>
      <p>State: <%= address.state %></p>
      <p>Zip Code: <%= address.zip %></p>
      <br>
      <%= link_to 'Update address', edit_address_path(address.id)  %>
      <br>
      <%= link_to 'Delete Address', addresses_path(address.id), method: :delete   %>
      <br>
    </section>
    <% end %>
  <% end %>
<br>
<br>

<%= link_to "Edit Profile", profile_edit_path %>

<% if @user.orders.length > 0 %>
  <%= link_to "My Orders", profile_orders_path %>
<% end %>
