

<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Active: <%= @user.active %></p>

<p>Addresses</p>

<br>
<div class="add-address">
  <%= link_to 'Add address', new_address_path %>
</div>
<br>
<section class="home-address">
  <br>
  <p>Home Address</p>
  <br>
  <p>Street: <%= @user.address %></p>
  <p>City: <%= @user.city %></p>
  <p>State: <%= @user.state %></p>
  <p>Zip Code: <%= @user.zip %></p>
</section>
<br>
<br>



<%= link_to "Edit Profile", profile_edit_path %>

<% if @user.orders.length > 0 %>
  <%= link_to "My Orders", profile_orders_path %>
<% end %>
