<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <ul class="main-nav">


      <section class="register-link">
        <%= link_to 'Register', new_user_path %>
      </section>
    </ul>

    <% flash.each do |message| %>
    <%= sanitize(message[1]) %>
    <% end %>


    <%= yield %>
  </body>
</html>
